[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
mysqlclient = "*"
sqlalchemy = "*"
fastapi = "*"
uvicorn = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
python-multipart = "*"
beautifulsoup4 = "*"
lxml = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
