.block{
    width:100%;
    
}

.code-block {
    width: 100%;
    background-color: var(--bg-color2);
    color: whitesmoke;
    padding: 0px 0px;
    display: flex;
    border-left: white 3px solid;
}


.code-block-info {
    width: 120px;
    padding: 0px 10px;
    background-color: var(--bg-color);
    border: 1px transparent solid;
    height:52px;
}


.code-block-content{
    width:100%;
    padding: 10px 10px;
    margin:0px;
    font-size: x-large;
}
.code-block-content:focus{
    outline: none;
    border: 1px white solid;
}
.run-code-button{
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 2px;
    margin-top: 5px;
    padding: 3px 6px 2px 6px;
}
.run-code-button>img{
    width: 20px;
}
.run-code-button:hover{
    background-color: var(--highlight-color);
}

.block-optn {
    background-color: transparent;
    outline: none;
    border: 1px solid white;
    margin: 0 5px;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
}

.output-block{
    margin-top: 10px;
    width: 100%;
    background-color: var(--bg-color);
    color: white;
    padding: 0px 0px;
    display: flex;
}

.output-success{
    border-left: lightgreen 3px solid;
}

.output-error{
    border-left: rgb(255, 71, 71) 3px solid;
}



.output-block-info{
    width: 120px;
    padding-left: 10px;
}

.clear-output{
    /* padding-top:50px; */
    /* display: inline-block; */
    padding:2px 5px;
    padding-bottom:5px;
    cursor: pointer;
}

.clear-output:hover{
    background-color: var(--highlight-color);
}

.output-text{
    width:100%;
    /* background-color: #23262e; */
    padding:10px;
    padding-top:0px;
    padding-left:0px;
    font-size: x-large;
}
.block-optn-wrapper{
    height:35px;
    display: flex;
    justify-content:left;
    margin-top: 15px;
    margin-left: -5px;
}


.hide{
    display: none;
}