:root{
    --bg-color: #262a33;
    --bg-color2: #23262e;
    --text-color: white;
    --highlight-color: rgba(213, 213, 213, 0.203);
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding:0px;
}
#root{
    height:calc(100vh - 5rem);

}

a {
    color: inherit;
}
body{
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    width: 100%;
    min-height: 100vh;
    background-color: var(--bg-color);
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;

}

.main{
    height:89vh;
    width:100vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow:hidden;
}