*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}
body{
    /* padding: 10px; */
    margin: 0px;
    padding:0px;
}

.main{
    /* height:calc(100vh - 20px);
    width:calc(100vw - 20px); */
    height:100vh;
    width:100vw;
    /* padding: 1rem; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow:hidden;
    /* padding: 10px; */
}