:root{
    --bg-color: #262a33;
    --bg-color2: #23262e;
    --text-color: white;
    --highlight-color: rgba(213, 213, 213, 0.203);
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding:0px;
}
body{
    /* padding: 10px; */
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    width: 100%;
    min-height: 100vh;
}

button {
    font-family: 'Roboto', sans-serif;
}

.main{
    /* height:calc(100vh - 20px);
    width:calc(100vw - 20px); */
    height:100vh;
    width:100vw;
    /* padding: 1rem; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow:hidden;
    /* padding: 10px; */
}