.notebook-wrapper {
    height: 100%;
    width: 100%;
    /* display: flex; */
}

.notebook-control {
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color: #262a33;
}

.notebook-control .brand {
    font-family: 'Cairo', sans-serif;
    color: white;
    margin: 0px 15px;
    margin-top: -5px;
}

.notebook {
    color: white;
    padding: 1rem;
    width: 100%;
    height: 100%;
    background-color: #262a33;
    overflow-y: auto;
}


.block-wrapper {
    display: flex;
    margin: 2rem 0rem;
    margin-top: 0px;
}

.block-wrapper>button {
    height: 50px;
}

.notebook-control button {
    background-color: transparent;
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 10px 15px;
    color: white;
    height: 50%;
    cursor: pointer;
}
button:hover{
    background-color: rgba(213, 213, 213, 0.203);
}